 /* Umumiy stillar */
 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    padding: 20px;
}

.login-link{
    margin: 20px 0;
}
.download-btn{
    text-decoration: none;
    color: #fff;
    background: #1d74f7;
    padding: 10px 30px;
    border-radius: 5px;
}

/* Jadval stillari */
.user-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.user-table h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}