{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="main mb-5">
      <div class="container">
        <a href="{% url "list" %}" class="btn btn-outline-danger mt-4 w100">Orqaga</a>
        <div class="box-detail_in-1">
            
          <div class="box-detail-left">
            <div class=" user-text">
              <h5 class="ml-5">Ism:</h5>
              <h5 class="user-profile">{{ post.first_name }}</h5>
          </div>

          <div class=" user-text">
              <h5 class="ml-5">Familiya:</h5>
              <h5 class="user-profile">{{ post.last_name }}</h5>
          </div>
          <div class=" user-text">
              <h5 class="ml-5">Tell-raqami:</h5>
              <h5 class="user-profile">{{ post.tel_number }}</h5>
          </div>

          <div class=" user-text">
              <h5 class="ml-5">Email:</h5>
              <h5 class="user-profile">{{ post.email }}</h5>
          </div>
          </div>
            
          <div class="box-detail-right">
            <div class=" user-text">
              <h5 class="ml-5">Viloyati:</h5>
              <h5 class="user-profile">{{ post.region }}</h5>
          </div>

          <div class=" user-text">
              <h5 class="ml-5">Jinsi:</h5>
              <h5 class="user-profile">{{ post.gender }}</h5>
          </div>
          <div class=" user-text">
              <h5 class="ml-5">Murojaat Turi:</h5>
              <h5 class="user-profile">{{ post.application_type }}</h5>
          </div>

          <div class=" user-text">
              <h5 class="ml-5">Yuborgan fayli:</h5>
              {% if post.files %}
                <a href="{{ post.files.url }}" target="_blank">Faylni yuklab olish</a>
              {% else %}
                Fayl mavjud emas
              {% endif %}
          </div>
          </div>

        </div>
        
        <div class="box-detail_in-2">
          <h5>{{ post.body }}</h5>
        </div>

      </div>
    </section>
    
{% endblock content %}